.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries

.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.xml
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

.idea/**/gradle.xml
.idea/**/libraries

cmake-build-debug/

.idea/**/mongoSettings.xml

*.iws

/out/

# mpeltonen/sbt-idea plugin
.idea_modules/

com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties

# *.iml
# modules.xml
# .idea/misc.xml
# *.ipr

.idea/sonarlint

*.class

*.log

*.ctxt

.mtj.tmp/

*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

.gradle
**/build/

# Ignore Gradle GUI config
gradle-app.setting

!gradle-wrapper.jar

.gradletasknamecache

# gradle/wrapper/gradle-wrapper.properties